body {
    font-family: 'Gothic A1', sans-serif;
    font-weight: 300;
    background-color: #F2A68D;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}
#nav {
    background-color: #F3DCD4;
    color: #000000;
    font-weight: 800;
    font-size: 24pt;
    display: flex;
    justify-content: space-between;
    top: 0;
}

#nav a {
    text-decoration: none;
}

#nav a:visited {
    color: #000000;
}

#nav a:hover {
    color: white;
}

header h1 {
    color: #000000;
    font-weight: 600;
    display: inline;
    margin: 0;
    margin-left: 5%;
    width: 100%;
    padding-bottom: 3px;
    font-size: 80%;
    text-align:left;
    border-bottom: 1px solid #F2A68D;
}

div#landing {
    height: 120vh;
    width: 100%;
}
div#about {
    height: 100vh;
    width: 100%;
}
div#hobbies {
    height: 100vh;
    width: 100%;
}
div#landing div.background {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
div#about div.background {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
div#hobbies div.background {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
div.main>.background:nth-child(odd), div.background:nth-child(even) .container {
    background-color:#F2A68D;
}
div.main>.background:nth-child(even), div.background:nth-child(odd) .container {
    background-color: #F3DCD4;
}
div.container{
    display: flex;
    height: 80%;
    width: 80%;
    margin: auto;
    border: outset 1px #F3DC
    -D4;
}

div.content, div.image{
    flex: 1;
    height: 100%;
    margin: 0;
}
div.image img{
    display: block;
    margin: auto;
    height: 94%;
    width: 94%;
    object-fit: contain;
    padding: 3%;
}
div.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
}
div.content p {
    font-weight: 500;
    font-size: 1.2em;
    color: #000000;
    padding-left: 10%

}
div.content h1 {
    font-weight: 700;
    font-size: 3.5em;
    color: #000000;
    float: left;
    text-align: left;
}
footer {
    text-align: center;
    background-color: #F2A68D;
    color: #F3DCD4;
    font-weight: 300;
    margin: 0;
}